/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body
{
    font-family: Helvetica, sans-serif; 
}
.box
{
    width:fit-content;
    height: 100vh;
    background-color:white;
    position:relative;
    text-align: left;
    z-index:1;
    /* opacity: 0; */
}
.menu_icon_box
{
    width:fit-content;
    height:auto;
    background-color: white;
    margin:30px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
}
.line1, .line2, .line3
{
   width: 40px;
   height: 4px;
   margin: 10px;
   background-color: black;
   border-radius: 50px;
}
.active .line1
{
    transform: translate(0px, 15)rotate(45deg);
}
.active .line2
{
    opacity: 0;
}.active .line3
{
    transform: translate(0px, -15)rotate(-45deg);
}
nav
{
    padding-top: 100px;
}
nav ul
{
    margin: 0px 30px;
}
nav ul li
{
    list-style: none;
    margin-bottom: 30px;
    transition: 0.3s;
}
nav ul li:hover
{
    background-color: #c6c6c66f;
    border-radius: 8px;
}
nav ul li a
{
    color: black;
    font-size:28px;
    padding: 10px 30px;
    display: block;
    text-decoration: none;

}

.flex-container
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar {
    width: 25%;
}
.primary-content {
    width: 70%;
}

.images 
{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content:space-between; 
    width:100%;
    margin:1em auto;
}

.images img 
{
    display:block;
    width:46%;
    height:auto;
}

.container 
{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}

section.section 
{
    margin-bottom:50px;
}

img 
{
    display:block; 
    width:auto; 
    max-width:80%; 
    height:auto; 
    margin-top:1em; 
    margin-bottom:1em;
} 


